Projeto 1 - Jokempo/melhordetres_tb.vhd
Projeto 1 - Jokempo/jokempotriplo_tb.vhd
Projeto 1 - Jokempo/simul.vcd
Projeto 2 - Jokempo++/work-obj93.cf
Projeto 2 - Jokempo++/testbench.vhd
Projeto 2 - Jokempo++/tb1.vhd
Projeto 2 - Jokempo++/tb2.vhd
Projeto 2 - Jokempo++/tb3.vhd
testbench_Ex1_Stephan.vhd
testbench.vhd
Projeto 3 - Bass Hero/simul.vcd
Projeto 3 - Bass Hero/work-obj93.cf
Projeto 3 - Bass Hero/testbenchA2P3.vhd
Projeto 3 - Bass Hero/testbenchA1P3.vhd
Projeto 4 - Jokempo PRO/simul.vcd
Projeto 4 - Jokempo PRO/testbenchA4.vhd
.gitignore
Projeto 4 - Jokempo PRO/work-obj93.cf
